.HomeZone {
  margin: auto;
  //margin-top: 15rem;
  margin-bottom: 11rem;
  margin-top:5rem;
  align-items: center;
  padding-top: 5rem;

  width: 55%;

  h1{
    margin-bottom: 3rem;
    color: $primaryColor;
  }
  p {
    text-align: left;
    font-weight: $font-weight-light;
    line-height: $line-height-base;
  }
  button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    outline-style: none;
    border-radius: 1.5rem;
    border-width: 3px;
    border-style: none;
    background-color: $accentColor;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: $font-weight-medium;
  }
}
