@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

/////////////////////
.App {
  text-align: left;
}

.container {
  margin-top: 3rem;
}

.cluster-marker {
  color: #fff;
  background: $accentColor;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: $font-weight-light;
  // width: 5px;
  // height: 5px;
}

.vehicle-marker {
  background: none;
  border-style: none;
  outline-style: none;
}